@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

@media (max-width: 576px) {
.section-top {    margin-top: 6em;}
.section-top h1 {
    font-size: calc(100% + 0.75vw);
    margin-bottom: 0.5em;
    font-weight: 700;
    text-align: center;
}
.section-top p {
    text-align: center;
    color: grey;
    font-size: small;
}

/* #region Header  */

    .wrapper {
        height: 100vh;
        background-image: url('images/banner.png');
        background-size: cover;
    }
    .wrapper::after {
        content: '';
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.7;
    }
    .navbar .navbar-brand img {        width: 40%;    }
    .navbar li:after {
        content: '';
        width: 0%;
        height: 0.15em;
        background: crimson;
        display: block;
        margin: auto;
        transition: 0.5s ease-in-out width;
    }
    .navbar li:hover::after {
        width: 100%;
    }
    .wrapper .bottom {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -37%);
        z-index: 1;
    }
    .wrapper .bottom h1 {
        font-size: calc(100% + 2vw);
        margin-bottom: 0.5em;
        font-weight: 700;
    }
    .wrapper .bottom p {
        font-weight: 200;
        font-size: small;
        width: 100%;
        color: rgb(255, 255, 255);
    }
    .wrapper .bottom button {
        border: 0.05em solid white;
        text-decoration: none;
        border-radius: 1px;
        margin-top: 2em;
        padding: 0.5em;
        font-weight: 200;
        width: 50%;
        font-size: small;
    }
    .wrapper .bottom button:hover {
        border: 1px solid white;
        background: crimson;
    }
    /* #endregion Header */

/* #region Course  */
.course-cards {width: 90%; margin: 0 auto; }
.course-card {
    max-width: 100%;
    background-color: #f7ecea;
    margin-top: 1em;
    border-radius: 1.5em;
    border: 3px solid #FFF3F1;
    padding: 1em;
    justify-content: center;
    transition: 0.1s ease box-shadow;
    flex: 0 0 33.33;
}
.course-card { min-width: 85%;}
.course-card .card-body h2 {
    font-weight: 700;
    font-style: bold;
    font-size: x-larger;
}
.course-card .card-body p {
    margin-bottom: 0.5em;
    letter-spacing: 0.02rem;
    line-height: 1.5rem;
    font-weight: 200;
    font-size: small;
    text-align: justify;
}
.course-card:hover {    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2)}
    /* #endregion Course */

/* #region campus start */
.campus-card {
    margin: 0.7em;
    position: relative;
    flex: 0 0 30.33%;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    text-align: center;
    transition: 0.3s ease all;
}
.layer h3 {
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: small;
    color: white;
    transition: 0.5s ease;
    opacity: 0;
    width: 100%;
    bottom: 0;
    left: 50%;
}
.layer:hover h3 {
    display: block;
    font-size: x-large;
    bottom: 49%;
    opacity: 1;
    transform: translateY(100%);
    font-weight: 500;
    font-size: larger;
}
.layer:hover {
    background: rgba(266, 0, 0, 0.7);
    border-radius: 20px;
}
.campus-card img {
    border-radius: 20px;
}
/* #endregion campus start */

/* #region facilities  */
.facility-cards .card{  transition: box-shadow 500ms cubic-bezier(0.19, 1, 0.22, 1);}
.facility-cards .card:hover{  box-shadow: 0 0 12px 0 rgba(0,0,0,0.6);  }
.facility-card h2 {
    margin-top: 1em;
    font-size: 1rem;
    font-weight: 700;
}
.facility-card p {
    text-align: justify;
    margin-top: 0.25em;
    font-size: medium;
    width: 90%;
}
/* #endregion facilities */

/* #region testimonial */
#testimonials .testimonial-card .testimonial-card-body  .h2 {
    margin: 0;
    font-weight: bold;
    font-size: large;
}
#testimonials .testimonial-card .testimonial-card-body  .h6 {
    margin: 5px 0 15px;
    display: block;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    color: #333;
}
#testimonials .testimonial-card .testimonial-card-body  .para {
    margin: 0;
    padding: 5px 0 0;
    border-top: 2px dashed rgba(0, 0, 0, 0.2);
    line-height: 1.5rem;
    font-size: small;
    text-align: justify;
}                    
}
/* #endregion testimonial end */

@media (min-width: 577px) {
    .section-top {
        margin-top: 5em;
    }
    .section-top h1 {
        font-size: calc(100% + 3vw);
        margin-bottom: 0.5em;
        font-weight: 700;
        text-align: center;
        color: black;
    }
    .section-top p {
        text-align: center;
        color: grey;
    }

/* #region header */
    .wrapper {
        height: 100vh;
        background-image: url('images/banner.png');
        background-size: cover;
    }


    .wrapper::after {
        content: '';
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.7;
    }

    .navbar .navbar-brand img {
        width: 60%;
    }

    .navbar li {
        margin-right: 10px;
    }

    .navbar li:after {
        content: '';
        width: 0%;
        height: 0.15em;
        background: crimson;
        display: block;
        margin: auto;
        transition: 0.3s ease width;
    }

    .navbar li:hover::after {
        width: 100%;
    }


    .wrapper .bottom {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .wrapper .bottom h1 {
        font-size: calc(100% + 3vw);
        margin-bottom: 0.5em;
        font-weight: 700;
    }

    .wrapper .bottom p {
        font-weight: 200;
        width: 80%;
        color: grey;
    }

    .wrapper .bottom button {
        border: 0.05em solid white;
        text-decoration: none;
        border-radius: 1px;
        margin-top: 2em;
        padding: 1em;
        font-weight: 200;
    }

    .wrapper .bottom button:hover {
        border: 1px solid white;
        background: crimson;
    }

    /* #endregion header */

/* #region start course */
.course-cards {width:80%;margin:0 auto; }
.course-card {
    max-width: 100%;
    background-color: #f7ecea;
    margin-top: 1em;
    border-radius: 1.5em;
    border: 3px solid #FFF3F1;
    padding: 1em;
    justify-content: center;
    transition: 0.1s ease box-shadow;
    flex: 0 0 33.33;
    height: auto;
}
.course-card .card-body h2 {
    font-weight: 700;
    font-style: bold;
    margin-bottom: 0.5em;
    font-size: 2rem;
    width: 100%;
}
.course-card .card-body p {
    font-weight: 200;
    margin-bottom: 0.5em;
    letter-spacing: 0.03rem;
    line-height: 1.5rem;
    text-align: justify;
}
.course-card:hover {box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2)}
/* #endregion course end */

/* #region campus start */

.campus-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.campus-card {
    margin: 0.7em;
    position: relative;
    
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    text-align: center;
    transition: 0.3s ease all;


}

.layer h3 {
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    transition: 0.5s ease;
    opacity: 0;
    width: 100%;
    bottom: 0;
    left: 50%;
}

.layer:hover h3 {
    display: block;
    font-size: 2.5rem;
    bottom: 49%;
    opacity: 1;
    transform: translateY(100%);
    font-weight: 500;
}

.layer:hover {
    background: rgba(266, 0, 0, 0.7);
    border-radius: 20px;

}

.campus-card img {
    border-radius: 20px;

}



/* #endregion campus start */

/* #region facilities  */
.facility-cards .card{  transition: box-shadow 500ms cubic-bezier(0.19, 1, 0.22, 1);}
.facility-cards .card:hover{  box-shadow: 0 0 12px 0 rgba(0,0,0,0.6);  }
.facility-card h2 {
    margin-top: 1em;
    font-size: calc(80% + 1vw);
    font-weight: 700;
}
.facility-card p {
    text-align: justify;
    margin-top: 0.25em;
    font-size: medium;
    width: 100%;
}
/* #endregion facilities */

/* #region testimonial */
#testimonials{
    padding-top: 15%;
    font-family: 'Poppins';
}
#testimonials .testimonial-card {
    background: #f7ecea;;;
    background-image: -moz-radial-gradient(center 45deg,circle cover, #d1e4f5, #f7ecea);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#d1e4f5), to(#f7ecea));
    border-radius: 10px;
    width: 80%;
    padding: 2em;
    margin: 1em;
}
#testimonials .testimonial-card a.pull-left img {
    max-width: 30%;
    border-radius: 50%;
}
#testimonials .testimonial-card .testimonial-card-body  {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    border-radius: 12px;
    width: 80%;
    padding: 2em;
}
#testimonials .testimonial-card .testimonial-card-body  h2 {
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
}
#testimonials .testimonial-card .testimonial-card-body  h6 {
    margin: 5px 0 15px;
    display: block;
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
    color: #333;
}
#testimonials .testimonial-card .testimonial-card-body  p {
    margin: 0;
    padding: 5px 0 0;
    border-top: 2px dashed rgba(0, 0, 0, 0.2);
    line-height: 1.5rem;
    font-size: 0.85rem;
    text-align: justify;
}                    
/* #endregion testimonial end */

/* #region contact */

.contact {
    margin-top: 2em;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    height: auto;
    position: relative;


}

.cta:after {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    height: 100%;
    width: 100%
}

.cta img {
    max-width: 100%;
    height: auto;
}

.contact-text {

    transform: translate(0%, -175%);
}

.contact-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    padding: 1em;
}

.contact-text h2 {

    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    padding: 1em;
}

.contact-text a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    width: 25%;
    padding: 1em;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s ease all;
}



.contact-text a:hover {
    background-color: crimson;
}

/* #endregion testimonial end */

/* #region footer */
.footer {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.footer p {
    letter-spacing: 0.03rem;
    width: 50%;
    text-align: center;
    padding: 1em;
    margin: 1.5em;
}


.icons {
    display: flex;
    justify-content: center;
    text-align: center;

}

.icons .fab {
    color: crimson;
    padding: 20px;
    margin: 0 auto;

}

/* #endregion footer */

/* #endregion Desktop */
}