
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.container{
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
}

/* #region start header */

#header .header{
    flex-direction: column;
    width: 100%;
    background-image: url(images/banner.png);
    background-size: cover;
    position: relative;
    margin: 10px;
    z-index: +1;
}
#header .header:after{
    content:'';
    background-color: rgb(4,9,30);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

.header-top{    display: flex;    margin-left: 80px; margin-right: 80px;   }
.logo img{    width: 150px;}
.logo{    flex:1;  margin-top: 10px;  }
.navbar-menu{        list-style-type: none;    text-transform: uppercase;}
.navbar-menu li{    display: inline-block;    margin: 13px;  }
.navbar-menu a{  color: white;  padding: 5px;  text-decoration: none;}
#header .navbar-menu li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:crimson;
    display: block;
    margin: auto;
    transition: 0.3s ease width;
}
#header .navbar-menu li:hover::after{width: 100%; }

.header-bottom{
 display: flex ;   
 color: white;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 250px;
}
.header-bottom h1{
    font-size: 4rem;
    margin-bottom: 40px;
}
.header-bottom p{
    font-size: 1rem;
    margin-bottom: 50px;
    font-weight: 200;
    width: 50%;
    text-align: center;
}
.header-bottom a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    margin-top: 40px ;
    display: inline-block;
    padding: 10px;
    font-weight: 200;
    font-size: 0.9rem;
    margin-bottom: 50px;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease all;

}
.header-bottom a:hover{
    border: 1px solid white;
    background: crimson ;
}

.navbar-menu .fa{
    display: none;
}
.navbar-menu .bars{
    display: none;
}
@media(max-width:700px){
.header-top{display: flex;    margin-left: 15px; margin-right: 15px;   }
.logo img{    width: 120px;}
.logo{      margin-top: 10px;  }
.navbar-menu{   background: #f44336;  position: absolute; top: 0; right:-200px; 
                overflow: hidden; width: 200px; height: 100vh; text-align: left; z-index: 2;
            transition: 1s;}
.navbar-menu li{    display: block;   }

.navbar-menu ul{    padding: 30px;  }

.navbar-menu .fa{
   
    display: block;
    color: white;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    
}
.bars{
   
    display: block;
    color: white;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    
}

.navbar-menu a{  color: white;  padding: 5px;  text-decoration: none; }
    
    
    #header .navbar-menu li:hover::after{width: 100%; }
    
    .header-bottom{     margin: 120px;    }
    
    .header-bottom h1{  font-size: 1rem;    }
    
    .header-bottom p{  font-size: 0.75rem;  margin-bottom: 10px;    width: 100%;   }
    
    .header-bottom a{   padding: 7px;        font-size: 0.7rem;        margin-top: 40px;    }
 

}

@media(max-width:700px){
    .header-top{display: flex;    margin-left: 15px; margin-right: 15px;   }
    .logo img{    width: 120px;}
    .logo{      margin-top: 10px;  }
    .navbar-menu{   background: #f44336;  position: absolute; top: 0; right:-200px; 
                    overflow: hidden; width: 200px; height: 100vh; text-align: left; z-index: 2;
                transition: 1s;}
    .navbar-menu li{    display: block;   }
    
    .navbar-menu ul{    padding: 30px;  }
    
    .navbar-menu .fa{
       
        display: block;
        color: white;
        margin: 10px;
        font-size: 1rem;
        cursor: pointer;
        
    }
    .bars{
       
        display: block;
        color: white;
        margin: 10px;
        font-size: 1rem;
        cursor: pointer;
        
    }
    
    .navbar-menu a{  color: white;  padding: 5px;  text-decoration: none; }
        
        
        #header .navbar-menu li:hover::after{width: 100%; }
        
        .header-bottom{     margin: 120px;    }
        
        .header-bottom h1{  font-size: 1rem;    }
        
        .header-bottom p{  font-size: 0.75rem;  margin-bottom: 10px;    width: 100%;   }
        
        .header-bottom a{   padding: 7px;        font-size: 0.7rem;        margin-top: 40px;    }
     
    
    }
/* #endregion header *//* #region start course */
.course{
    flex-direction: column;

}

.course-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.05rem;
}
.course-top h1{
    font-weight: 700;
    font-size: 2rem;
    
}
.course-top p{
    font-weight: 200;
    color: rgb(32, 28, 28);
    font-size: 1rem;
    margin: 15px;
}


.course-cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    

}


.course-card{
    display: flex;
    flex-direction: column;
    max-width: 33%;
    background-color: #f7ecea;
    margin-top: 50px;
    border-radius: 20px;
    border: 3px solid #FFF3F1;
    padding: 20px;
    height: 250px;
    justify-content: center;
    transition: 0.1s ease box-shadow;
}

.course-card:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2)
}

.course-card h2{    letter-spacing: 0.09rem;}
.course-card p{
    
    margin: 10px;
    padding: 10px;
    letter-spacing: 0.02rem;


}
